
    <div class="be-container">
        <div class="be-navbar">
            <div><h2>MyApp</h2></div>
            <div>
            <a routerLink="">Home</a>
            <a routerLink="About">About</a>
            <a routerLink="Product">Product</a>
            <a [routerLink]="['Student','Anu']">Student1</a>
            <a [routerLink]="['Student','John']">Student2</a>
            <a routerLink="Contact">Contact</a>
            <a routerLink="Signup">Sign up</a>
            </div>
        </div>
        
    <router-outlet></router-outlet>
    </div>
    
    <!-- <a routerLink="Home">Home</a> -->


    



